<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentSearch>
      <configuration>
        <indexes>
          <index id="sitecore_suggested_test_index">
            <configuration>
              <documentOptions>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="impact">
                    <patch:delete/>
                  </field>
                  <field fieldName="impact" type="Sitecore.Support.ContentTesting.ContentSearch.ComputedIndexFields.TestImpactMetric, Sitecore.Support.173203"/>
                  <field fieldName="potential">
                    <patch:delete/>
                  </field>
                  <field fieldName="potential" type="Sitecore.Support.ContentTesting.ContentSearch.ComputedIndexFields.TestPotentialMetric, Sitecore.Support.173203"/>
                  <field fieldName="recommendation">
                    <patch:delete/>
                  </field>
                  <field fieldName="recommendation" type="Sitecore.Support.ContentTesting.ContentSearch.ComputedIndexFields.TestRecommendationMetric, Sitecore.Support.173203"/>
                </fields>
              </documentOptions>
            </configuration>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>